[package]
name = "components"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bevy = { version = "0.12.1" }
bevy_dylib = "0.12.1"

[features]
default = []
dynamic = ["bevy/dynamic_linking"]
